<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
        <add name="X-Frame-Options" value="DENY" xdt:Transform="Insert" />
        <add name="X-XSS-Protection" value="1; mode=block" xdt:Transform="Insert" />
        <add name="Access-Control-Allow-Origin" value="https://thankful-glacier-086d82100.6.azurestaticapps.net" xdt:Transform="Insert" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" xdt:Transform="Insert" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" xdt:Transform="Insert" />
        <add name="Access-Control-Allow-Credentials" value="true" xdt:Transform="Insert" />
        <add name="Access-Control-Expose-Headers" value="Content-Disposition" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration> 